.footer {
  text-align: center;
  padding: 30px 40px;
  background-color: #2A3D66;
}

.footer a {
  font-size: 45px;
  color:  #F50057;
}

.footer p {
  color: #ffffff;
}

.footer .fas {
  color: #BF0F12;
}
